.world
{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.403);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 98;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width:35%;
    padding:1.3rem;
    border-radius: 1rem;
    background-color: #eee;
    z-index:99;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto) 50px;
    grid-row-gap: 1rem;
}
.name
{
    grid-area: 1 / 1 / 2 / 2;
}
.date
{
    grid-area: 1 / 2 / 2 / 3;
}
.desc
{
    grid-area: 2 / 1 / 3 / 4;
}
.close
{
    padding:.7rem 1rem;
    font-size:1.3rem;
    border-radius: 1rem;
    border:1px solid black;
    transition: ease-in .2s;
    grid-area: 1 / 3 / 2 / 4;
}
.close:hover
{
    border:1px solid white;
    background-color: #000;
    color:#fff;
}
.edit
{
    grid-area: 3 / 3 / 4 / 4;
    padding:.7rem 1.5rem;
    display:block;
    cursor: pointer;
    transition: background-color 0.2s ease 0s;
    border-radius: 1.5rem;
    background-color: #ddd;
    border:1px solid #ddd;
}
.edit:hover
{
    background: none repeat scroll 0 0 #ffffff;
}