.container
{
    aspect-ratio: 16/9;
    width:100%;
    height:100px;
    display: grid;
    align-items: center;
    margin-bottom:5rem;
    grid-template:
    'logo home activity todo . .';
    
}

.filter
{
    filter: invert(21%) sepia(16%) saturate(1225%) hue-rotate(169deg) brightness(90%) contrast(87%);
}

.home
{
    padding:1rem;
    grid-area: home;
    text-align: center;
}
.activity
{
    padding:1rem;
    grid-area: activity;
    text-align: center;
}
.todo
{
    padding:1rem;
    grid-area: todo;
    text-align: center;
}

.active
{
    border-bottom:2px solid black;
}
.logo
{
    grid-area: logo;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo > img
{
    width:200px;
}