.rotate
{
    height:30px;
    transform: rotate(180deg);
}

.arrow
{
    width:30px;
    grid-area: 1 / 1 / 2 / 2;
    display:flex;
    
}

.string
{
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}
.checkbox
{
    grid-area: 1 / 3 / 2 / 4;
    
}

.hideDesc
{
    grid-area: 2 / 1 / 3 / 4;
    visibility: hidden;
    color:Red;
}

.showDesc
{
    grid-area: 2 / 1 / 3 / 4;
    width:100%;
    display: grid;
    grid-template-columns: auto repeat(2, 30px);
    grid-template-rows: auto;
    grid-column-gap: .3rem;
    height:fit-content;
    padding-top:1rem;
    padding-left:1rem;

}
.desc
{
    grid-area: 1 / 1 / 2 / 2;
}
.edit
{
    grid-area: 1 / 2 / 2 / 3;
    
}
.delete
{
    grid-area: 1 / 3 / 2 / 4;
    
}