.container
{
    width:100%;
    display:flex;
    justify-content: center;
    
}
.list
{
    margin-top:2rem;
    width:fit-content;
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.element
{
    margin:.5rem .7rem;
    flex-basis: fit-content;
    display: grid;
    grid-template-columns: 50px 450px 50px;
    grid-template-rows: 0.5fr 0.5fr;
    grid-column-gap: 1rem;
}
@media (max-width:600px) {
    .element
    {
        grid-template-columns: 50px 320px 50px;
    }
}